html,body {
  overflow-x: hidden;
}

nav {
  width: 100%;
  background-color: #d3574A;
}

nav img {
  width: 50%;
  height: auto;
}

h2 {
  -webkit-text-stroke: 1px black;
}

.pllay {
  margin: auto;
}

.pllay-links a {
  color: white;
}

.links-text {
  display: none;
}

.search-section {
  background-image: url(./images/homepage-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0;
}

.search-page {
  background-color: white;
  padding: 10% 0;
}

.search-div {
  border-radius: 5px;
  background-color: lightgray;
  opacity: 0.9;
  margin: 0 10%;
  padding-top: 30px;
}

.search-div-page {
  border-radius: 5px;
  background-color: lightgray;
  padding-top: 30px;
}

.search-bar {
  margin: 0 5%;
}

.search-keyword {
  margin: 5px 5%;
}

.map-directions {
  color:#d3574A;
}

.how-it-works {
  background-color: lightgray;
  width: 120px;
  margin: 10px auto;
  color: black;
}

#button-addon2 {
  background-color: rgb(211, 87, 74);
  opacity: 1;
}

.list-group-item {
  border-color: grey;
}

.list-group-item a {
  color: white;
}

.list-group {
  padding: 0 20px;
}

.special {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 3;
  margin-top: -10px;
  margin-left: -20px;
}

.footer-logo {
  width: 45px;
  height: auto;
  margin-top: -10px;
  margin-left: -10px;
}

.footer-nav {
  position: relative;
}

footer {
  background-color: black;
  padding: 40px 10px;
}

.footer-links {
  background-color: black;
}

@media only screen and (max-width: 768px) {
  nav img {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pllay-links {
    align-self: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .links-text {
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 923px) {
  .search-link {
    margin-right: 40px;
  }
}
